<!DOCTYPE html>
<html>
<head>
  <title>BENCHYOURBB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgIHWNu0iyrY3E7CEFLb--78HRPidLaUI">
  </script>
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
</head>
<body>
<%= yield %>

</body>
</html>
